{% extends "network/layout_posts.html" %}
{% load static %}
{% block header %}


    <div class="row">
        <div class="col-2 p-0">
        </div>        
      <div class="col-8">
        <h1 class="display-6 text-center">{{ username }}</h1>
      </div>
      <div class="col-2 p-3 d-flex justify-content-end">
        {% if not is_my_profile %}
            <form id="unfollow-form" method="put" style='{% if not is_being_followed %}display: none{% endif %}'>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Unfollow</button>
            </form>
            <form id="follow-form" method="put" style='{% if is_being_followed %}display: none{% endif %}'>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Follow</button>
            </form>
        {% endif %}
      </div>
    </div>


    
    <div class="d-flex justify-content-center m-4">
        <img src="{% static 'images/profilepicture.jpg' %}" class="rounded-circle profile-picture border" alt="profile_picture">
    </div>
    <div class="d-flex justify-content-center">
        <span class="mx-4">Following: <span class="badge bg-secondary"> {{ number_of_following }}</span></span>
        <span class="mx-4">Followers: <span class="badge bg-secondary"> {{ number_of_followers }}</span></span>
    </div>
{% endblock %}

